<?xml version="1.0" encoding="UTF-8"?>

 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="apiSQL">

	<insert id="write" parameterType="api.bean.JsonResponse.Item">
	insert into sakura values(#{addr1},#{addr2},#{contentid},#{contenttypeid},#{mapx},#{mapy},#{mlevel},#{tel},#{title})
	</insert>	
	
</mapper>

